
#overlayed-side-slide-bar h2{
    width: 10vw;
    position: fixed;
    padding: 12px 1px 12px 20px;
    margin-left: -32vw;
    margin-top: 0px;
    left: 32vw;
    background-color: #85AEFF;
    border-radius: 0px 50px 50px 0px;
    z-index: 4;
}

#overlayed-side-slide-bar{
    width: 35vw;
    height: 95vh;
    background-color: #85AEFF;
    top:2vh;
    bottom: 0vw;
    margin-left: -35vw;
    position: fixed;
    z-index: 4;
}

#overlayed-side-slide-bar-1 h3{
    width: 10vw;
    position: fixed;
    padding: 12px 0px 12px 20px;
    margin-left: -32vw;
    margin-top: 10vh;
    left: 32vw;
    background-color: #49ECD8;
    border-radius: 0px 50px 50px 0px;
    z-index: 3;
}

#overlayed-side-slide-bar-1{
    width: 35vw;
    height: 95vh;
    background-color: #49ECD8;
    top:2vh;
    bottom: 0vw;
    margin-left: -35vw;
    position: fixed;
    z-index: 3;
}

#overlayed-side-slide-bar-2 h3{
    width: 10vw;
    position: fixed;
    padding: 12px 0px 12px 20px;
    margin-left: -32vw;
    margin-top: 20vh;
    left: 32vw;
    background-color:#BEBBE3;
    border-radius: 0px 50px 50px 0px;
    z-index: 2;
}

#overlayed-side-slide-bar-2{
    width: 35vw;
    height: 95vh;
    background-color:#BEBBE3;
    top:2vh;
    bottom: 0vw;
    margin-left: -35vw;
    position: fixed;
    z-index: 2;
}

#overlayed-side-slide-bar.active{
    margin-left: 0px;
}